<nav [ngClass]="{'closed': !isOpen}" class="sidebar">
	<header>
		<div class="image-text">
			<span class="image">
				<img src="../../assets/logo.jpg" alt="logo" />
			</span>

			<div class="text header-text">
				<span class="name">CodingLab</span>
				<span class="profession">Web developer</span>
			</div>
		</div>
		<i [ngClass]="{'mode-switch': isDark}" (click)="toggleMenu()" class="bx bx-chevron-right toggle"></i>
	</header>

	<div class="menu-bar">
		<div class="menu">
			<li class="search-box">
				<i class="bx bx-search icon"></i>
				<input type="search" placeholder="Search..." />
			</li>
			<ul class="menu-links">
				<li class="nav-link">
					<a [ngClass]="{'mode-switch': isDark}" routerLink="/dashboard" href="#">
						<i class="bx bx-home-alt icon"></i>
						<span class="text nav-text">Dashboard</span>
					</a>
				</li>
				<li class="nav-link">
					<a [ngClass]="{'mode-switch': isDark}" routerLink="/products" href="#">
						<i class="bx bxs-shopping-bag icon"></i>
						<span class="text nav-text">Products</span>
					</a>
				</li>
				<li class="nav-link">
					<a [ngClass]="{'mode-switch': isDark}" routerLink="/categories" href="#">
						<i class="bx bx-list-check icon"></i>
						<span class="text nav-text">Categories</span>
					</a>
				</li>
				<li class="nav-link">
					<a [ngClass]="{'mode-switch': isDark}" routerLink="/orders" routerLinkActive="active-link" href="#">
						<i class="bx bxs-food-menu icon"></i>
						<span class="text nav-text">Orders</span>
					</a>
				</li>
			</ul>
		</div>

		<div class="bottom-content">
			<li>
				<a [ngClass]="{'mode-switch': isDark}" routerLink="/settings" routerLinkActive="active-link" href="#">
					<i class="bx bx-cog icon"></i>
					<span class="text nav-text">Settings</span>
				</a>
			</li>
			<li>
				<a [ngClass]="{'mode-switch': isDark}" href="#">
					<i class="bx bx-log-out icon"></i>
					<span class="text nav-text">Logout</span>
				</a>
			</li>
			<li class="mode">
				<div class="moon-sun">
					<ng-container *ngIf="isOpen">
						<i [ngClass]="isDark ? 'bx bx-sun icon sun' : 'bx bx-moon icon moon'"></i>
					</ng-container>
				</div>
				<span class="mode-text text">{{ isDark ? 'Light Mode': 'Dark Mode' }}</span>

				<div (click)="toggleDarkMode()" class="toggle-switch">
					<span [ngClass]="{'mode-switch': isDark}" class="switch"></span>
				</div>
			</li>
		</div>
	</div>
</nav>

<div class="main-content">
	<router-outlet></router-outlet>
</div>
